body {
  background-color: #eee;
}

.backimage {
  height: 900px;
  width: 100%;
  background-image: url('../img/background-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 20%;
  padding-right: 23%;
}

.header1 {
  color: #178acc !important;
  font-size: 72px !important;
}

.header3 {
  color: #178acc !important;
  font-size: 3em !important;
  border-bottom: 1px solid #178acc;
}

.firstColumn {
  background-image: url('../img/woman.jpg');
  background-size: 100% 100%;
  height: 400px;
}

.rojo {
  background-color: red;
}

.amarillo {
  background-color: yellow;
}
